<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honestastrology.realmexample">
    
<!--    <application-->
<!--        android:label="@string/app_name">-->
<!--        <activity-->
<!--            android:name=".InMemoryActivity"-->
<!--            android:label="RealmExample"-->
<!--            android:screenOrientation="portrait">-->
<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->
<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
<!--        </activity>-->
<!--    </application>-->
<!--    <instrumentation-->
<!--        android:name="androidx.test.runner.AndroidJUnitRunner"-->
<!--        android:targetPackage="com.honestastrology.realmexample"/>-->
</manifest>